@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body,
html {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.header {
    color: #611c3f;
    padding: 20px;
}

form {
    padding-top: 20px;
    width: 50%;
    row-gap: 8px;
    display: inline-grid;
}

.label
{
    padding: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #9f1f35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #611c3f;
    font-family: 'Montserrat', sans-serif;
}
